.navbar {
    background-color: #d6d6d6;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; /* Usamos flexbox para distribuir los elementos */
    justify-content: space-between; /* Se asegura que el logo y los enlaces estén en los extremos opuestos */
    align-items: center; /* Alinea los elementos verticalmente */
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 120px;
    object-fit: cover;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0 3rem;
    justify-content: flex-end; /* Alinea los enlaces a la derecha */
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-link {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: antiquewhite;
  }
  