/* Aseguramos que el contenedor principal ocupe todo el ancho disponible */
#root {
  max-width: 100%;  /* Aseguramos que el contenedor principal ocupe todo el ancho */
  margin: 0;
  padding: 0; /* Eliminamos cualquier padding que podría estar creando espacio */
  text-align: center;
}

div{
  margin-bottom: 1em;
}

/* El contenedor de las tarjetas */
.product-list {
  display: flex;
  flex-wrap: wrap; /* Las tarjetas se ajustarán si no caben en la misma línea */
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: flex-start; /* Alinea las tarjetas al principio sin espacio lateral */
  justify-content: center;
}

/* Estilo de cada tarjeta */
.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  width: 180px; /* Ancho ajustado de las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

/* Estilo de las imágenes dentro de las tarjetas */
.product-card img {
  width: 100%;
  height: 200px; /* Ajustamos la altura de las imágenes para que sean más grandes */
  object-fit: cover;
  border-radius: 8px;
}

/* Título dentro de la tarjeta */
.product-card h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}
