/* Aseguramos que el contenedor principal ocupe todo el ancho disponible */
#root {
  max-width: 100%;  /* Aseguramos que el contenedor principal ocupe todo el ancho */
  margin-top: 2rem;
  padding: 0; /* Eliminamos cualquier padding que podría estar creando espacio */
  text-align: center;
}

body {
  flex-direction: column
}
/* El contenedor de las tarjetas */
.card-list {
  display: flex;
  flex-wrap: wrap; /* Las tarjetas se ajustarán si no caben en la misma línea */
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: flex-start; /* Alinea las tarjetas al principio sin espacio lateral */
  justify-content: center;
  padding: 2rem 0;
}

/* Estilo de cada tarjeta */
.card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  width: 180px; /* Ancho ajustado de las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.185);
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.3s ease;
}

/* Estilo de las imágenes dentro de las tarjetas */
.card img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover img {
  transform: scale(1.3);
}

.heart-icon {
  margin-bottom: 20px;
  top: 10px;
  right: 10px;
  user-select: none
}

.heart-icon path {
  cursor: pointer;
}

/* Título dentro de la tarjeta */
.card h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
}